<a href="https://colab.research.google.com/github/Tdavies92/AcademyPublic/blob/main/Code%2020211027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
 43% 5.00M/11.6M [00:00<00:00, 48.2MB/s]
100% 11.6M/11.6M [00:00<00:00, 56.6MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 9.94MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [3]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('/content/winequality-red.csv')

In [6]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [7]:
df.tail()

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[5 rows x 12 columns]

In [8]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [9]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [11]:
df.shape

(1599, 12)

In [12]:
len(df)

1599

In [13]:
df['fixed acidity'].head(2) # If you select 1 feature: dataframe['name_feature']

0    7.4
1    7.8
Name: fixed acidity, dtype: float64

In [14]:
df[['fixed acidity', 'volatile acidity']].head(2)

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88

In [18]:
mask1 = df['fixed acidity'] >7

In [22]:
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [23]:
mask2 = df['fixed acidity'].between(7,8)

In [24]:
mask2

0        True
1        True
2        True
3       False
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [25]:
df[mask2][['fixed acidity', 'density']].min()

fixed acidity    7.00000
density          0.99007
dtype: float64

In [26]:
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

       fixed acidity  volatile acidity  ...     alcohol     quality
count     893.000000        893.000000  ...  893.000000  893.000000
mean        8.166181          0.551013  ...   10.353210    5.530795
std         1.637488          0.176767  ...    1.024548    0.756440
min         4.700000          0.160000  ...    8.500000    3.000000
25%         7.100000          0.420000  ...    9.500000    5.000000
50%         7.800000          0.550000  ...   10.100000    5.000000
75%         9.000000          0.660000  ...   11.000000    6.000000
max        15.600000          1.330000  ...   13.600000    8.000000

[8 rows x 12 columns]

In [27]:
len(df)
df2 = df[mask3]
len(df2)

893

In [28]:
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

In [29]:
citric_acid_cat(0.22)

'B'

In [30]:
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [31]:
df

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
3              11.2             0.280         0.56  ...      9.8        6           C
4               7.4             0.700         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1594            6.2             0.600         0.08  ...     10.5        5           A
1595            5.9             0.550         0.10  ...     11.2        6           A
1596            6.3             0.510         0.13  ...     11.0        6           A
1597            5.9             0.645         0.12  ...     10.2        5           A
1598            6.0             0.310         0.47  ...     11.0        6           C

[1599 rows x 13 columns]

In [32]:
list_cat_to_keep = ['A', 'C']

In [33]:
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  citric_cat
0               7.4             0.700         0.00  ...      9.4        5           A
1               7.8             0.880         0.00  ...      9.8        5           A
2               7.8             0.760         0.04  ...      9.8        5           A
3              11.2             0.280         0.56  ...      9.8        6           C
4               7.4             0.700         0.00  ...      9.4        5           A
...             ...               ...          ...  ...      ...      ...         ...
1582            6.1             0.715         0.10  ...     11.9        5           A
1587            5.8             0.610         0.11  ...     10.9        6           A
1589            6.6             0.725         0.20  ...      9.2        5           A
1591            5.4             0.740         0.09  ...     11.6        6           A
1598            6.0             0.310         0.47  ...     11.0        6           C

[750 rows x 13 columns]

In [34]:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))

In [35]:
df[mask7]

      fixed acidity  volatile acidity  ...  quality  citric_cat
26              7.6              0.41  ...        5           B
34              5.2              0.32  ...        5           B
48              6.4              0.40  ...        5           B
72              7.7              0.69  ...        5           B
87              7.7              0.49  ...        5           B
...             ...               ...  ...      ...         ...
1493            7.7              0.54  ...        5           B
1496            7.7              0.54  ...        5           B
1501            7.8              0.82  ...        5           B
1514            6.9              0.84  ...        6           B
1515            6.9              0.84  ...        6           B

[143 rows x 13 columns]